<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SkyWay - Room example</title>
    <link rel="stylesheet" href="../_shared/style.css">
  </head>
  <body>
    <div class="container">
      <li>
        <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
      </li>
      <li>
        <%= link_to("投稿一覧", "/posts/index") %>
      </li>
      <li>
        <%= link_to("新規投稿", "/posts/new") %>
      </li>
      <li>
        <%= link_to("ルーム一覧", "/users/index") %>
      </li>
      <li>
      <%= link_to("チャット一覧","/posts/chatt") %>
      </li>
      <li>
        <%= link_to("ログアウト", "/logout", {method: :post}) %>
      </li>
      <li>
        <%= link_to("video", "https://immense-anchorage-70669.herokuapp.com") %>
      </li>
      <h1 class="heading">bug bottle</h1>
      <p class="note">
        idを打ち込んでね！！
        <a href="#">mesh</a> / <a href="#sfu">sfu</a>
      </p>
      <div class="room">
        <div>
          <video id="js-local-stream"></video>
          <span id="js-room-mode"></span>:
          <input type="text" placeholder="ルーム名を書き込んでね" id="js-room-id">
          <button id="js-join-trigger">参加</button>
          <button id="js-leave-trigger">抜ける</button>
        </div>

        <div class="remote-streams" id="js-remote-streams"></div>

        <div>
          <pre class="messages" id="js-messages"></pre>
          <input type="text" id="js-local-text">
          <button id="js-send-trigger">メッセージを送る</button>
        </div>
      </div>
      <p class="meta" id="js-meta"></p>
    </div>
    <script src="//cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="../_shared/key.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
